.App {
  text-align: center;
}

/** Header styles ********************************/
.header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 50px;
}
.section-one, .section-two {
  padding: 10px;
}
.section-one {
  padding: 0;
}
.section-one h1 {
  font-family: Impact;
  color: black;
}
.section-two {
  padding: 20px;
  background: lightgray;
}
.section-one h1 {

}
.section-one p {
  
}
/** Section Two - WEATHER Component *************/
.biggerText {
  color: black;
  font-family: Impact;
  font-size: 25px;
}
/** Form section ********************************/
.form-section {
  width: 100%;
  margin-bottom: 50px;
}
.form-section input {
  padding: 10px;
}
.form-section button {
  padding: 10px;
}
/** cities-panel *****************************/
.cities-panel {
  width: 70% !important;
}

/** CityTile *****************************/

.row {
  position: absolute;
  width: 90%;
  position: absolute;
  left: 51%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.cityTile h5 {
  font-size: 20px;
  background: rgba(255,255,255,0.4);
}

.cityTile .inner{
  display: block;
  min-height: 150px;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  
}
.cityTile {
  transform: scale(1);
  transition: .2s;
}
.cityTile:hover {
  outline: 1px solid rgba(0,0,0,0.3);
  background: lightgray;
  transform: scale(1.03);
}

/** MOBILE STYLES *****************************/

@media screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 50px;
  }
  .form-section input {
    width: 100%;
  }
  .form-section button {
    width: 100%;
  }
}